@model ITBlog.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Регистрация</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        @Html.ValidationSummary(true)

        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Войти" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
